body {
    background-image: image(nincorpback.webp);
    font-family: 'Courier New', monospace;
}


h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: red;
}


p {
    color: red;
    font-size: 20px;
}


