body {
    background: url(nincorpback.webp);
    background-repeat: no-repeat;
    height: fit-content;
    background-position: center;
    background-size: auto;

    font-family: 'Courier New', monospace;
}


h1 {
    font-weight: thin;
    text-align: center;
    font-size: 60px;
    color: red;
}


p {
    text-align: center;
    color: red;
    font-size: 20px;
}


